@model EnclosureServiceModel

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <h3>Enclosure parts:</h3><br />
            @if (Model.Parts?.Count() == 0)
            {
                <text>No enclosures/cabinets for this project</text>
            }
            else
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Quantity</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col">OrderNumber</th>
                            <th scope="col">Description</th>
                            @*<th scope="col">Delivery</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in Model.Parts)
                        {
                            <tr>
                                <td>@part.Quantity</td>
                                <td>@part.Manufacturer</td>
                                <td>@part.OrderNumber</td>
                                <td>@part.Description</td>
@*                                <td>
                                <select class="form-select" aria-label="Delivery" asp-items="@Html.GetEnumSelectList<OrderDelivery>()"></select>
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>