@model EnclosureServiceModel

@{
    ViewBag.Title = $"Enclosure {Model.Tag} Details";
}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="" asp-controller="" asp-route-id="" type="submit">Button</button><br />
            </form>
        </div>
    </div>
</div>

<div class="row text-center">
    <h2> @Model.Tag - Details:</h2>
</div>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="AddParts" asp-controller="Enclosure" asp-route-id="@Model.Id" type="submit">Add Parts</button><br />
            </form>

        </div>
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="" asp-controller="" asp-route-id="" type="submit">Add Cables</button><br />
            </form>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            Enclosure parts:<br />
            @if (Model.Parts?.Count() == 0)
            {
                <text>No enclosures/cabinets for this project</text>
            }
            else
            {
                @foreach (var part in Model.Parts)
                {
                    <div class="container text-center">
                        <div class="row align-items-start">
                            <div class="col">
                                @part.DeviceTag
                            </div>
                            <div class="col">
                                @part.Manufacturer
                            </div>
                            <div class="col">
                                @part.OrderNumber
                            </div>
                            <div class="col">
                                @part.Description
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
