@model ProjectServiceModel

@{
    ViewBag.Title = $"Project {Model.Number} Details";
}

<div class="row text-center">
    <h2> @Model.Number - @Model.Name  | @Model.Contractor  |  Current Project Status - @Model.Status</h2>
</div>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="Add" asp-controller="Enclosure" 
                asp-route-id="@Model.Id" type="submit">Add new cabinet/enclosure</button><br />
            </form>
            Cabinets/Enclosures:<br />
            @if (Model.Enclosures?.Count() == 0)
            {
                <text>No enclosures/cabinets for this project</text>
            }
            else
            {
                <div class="list-group">
                    @foreach (var enclosure in Model.Enclosures)
                    {
                        <form>
                            <button type="submit" class="list-group-item list-group-item-action" asp-action="Details" 
                            asp-controller="Enclosure" asp-route-id="@enclosure.Id">@enclosure.Tag</button>
                        </form>
                    }
                </div>
            }
        </div>
        <div class="col">
            <form>
                <button class="btn btn-primary" asp-action="All" asp-controller="Order" 
                asp-route-id="@Model.Id" type="submit">Modify Project orders</button><br />
            </form>
            Orders:
            <div class="list-group">
                @foreach (var order in Model.PartsOrders)
                {
                    <form>
                        <button type="submit" name="orderId" value="@order.Id" class="list-group-item list-group-item-action"
                            asp-action="Details" asp-controller="Order" asp-route-id="@order.EnclosureId">
                            @order.DateCreated -> @order.Enclosure.Tag
                        </button>
                    </form>
                }
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Add new storage location</button><br />
            Storages:
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Add new task</button><br />
            Site jobs:
        </div>
    </div>
</div>